<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
    <h4>Upload your image!</h4>
    <form action="" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="file" id="file">
        <input type="submit" value="Upload">
    </form>
    {% if filename %}
    <h4>Download your image</h4>
    <a href="{{ url_for('download_file', filename=filename) }}" download>Download</a>
    {% endif %}
</body>
</html>
